body{margin: 0; font-family: Helvetica, sans-serif;}

h1{margin: 0; font-weight: 400; font-size: 75px; line-height: 75px;}
h2{margin: 0; font-weight: 400; font-size: 24px; line-height: 24px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;}
h3{margin: 0; font-weight: 400; font-size: 24px; line-height: 30px;}
h4{margin: 0; font-weight: 200; font-size: 18px; line-height: 24px; text-transform: uppercase;}
h5{margin: 0; font-weight: 400;}
h6{margin: 0; font-weight: 400;}
 p{margin: 0; font-weight: 400; font-size: 16px; line-height: 22px;}
li{margin: 0; font-weight: 400; font-size: 16px; line-height: 22px;}

a{transition: ease-in-out .2s;}
a:hover{opacity: .6;}

#spacer{width: 100%; min-height: 100vh; display: table;}
  #spacer #main-content{height: fit-content; display: table-cell; vertical-align: middle;}

nav{width: 750px; height: 340px; margin: 25px auto 0 auto; position: relative;}
nav div{width: 750px; height: 340px; position: absolute; top: 0; left: 0;}
  nav div h2{z-index: 100; position: absolute; color: #ffffff;}
  nav div h2:hover{cursor: pointer;}
  nav div #homeh2{top: 60px; left: 113px;}
  nav div #abouth2{top: 245px; left: 205px;}
  nav div #worksh2{top: 130px; left: 383px;}
  nav div #connecth2{top: 160px; left: 593px;}

nav svg{width: 750px; height: 340px; position: absolute; top: 0; left: 0;}
  nav svg polygon{transition: ease-in-out .2s;}
  nav svg polygon:hover{cursor: pointer;}

footer{background-color: #000000; margin: 25px 0 0 0; color: #fff; padding: 25px 100px; justify-content: space-between;}
  footer .container{}
    footer .container #footer1 h4{line-height: 18px; height: 18px;}
    footer .container #footer1 h4:first-child{margin-bottom: 5px;}

    footer .container #footer2{border-left: 1px solid #fff; margin-left: 30px; padding-left: 15px;}
      footer .container #footer2 p{font-weight: 200; font-size: 12px; line-height: 12px; text-transform: uppercase;}
      footer .container #footer2 p:not(:last-child){margin-bottom: 10px;}
        footer .container #footer2 p a{color: #fff; text-decoration: none;}

    footer #footer3{position: relative;}
      footer #footer3 #position{position: absolute; bottom: 0; right: 0; width: 150px;}
        footer #footer3 #position .container{justify-content: flex-end; margin: 0 0 10px 0;}
          footer #footer3 #position .container i{font-size: 20px; color: #fff; transition: ease-in-out .2s;}
          footer #footer3 #position .container i:not(:last-child){margin-right: 5px;}
          footer #footer3 #position .container i:hover{cursor: pointer; opacity: .75;}
        footer #footer3 #position p{font-weight: 200; font-size: 12px; line-height: 12px; text-align: right;}

.container{display: flex;}
.table{display: table;}
.table-cell{display: table-cell; vertical-align: middle}


/* HOME */
@font-face {font-family: 'font1'; src: url('../fonts/BebasNeue.ttf');}
@font-face {font-family: 'font2'; src: url('../fonts/Notera.ttf');}
@font-face {font-family: 'font3'; src: url('../fonts/ChalkDash.ttf');}
@font-face {font-family: 'font4'; src: url('../fonts/BorgensBurlesque.ttf');}
@font-face {font-family: 'font5'; src: url('../fonts/Silkscreen.ttf');}

#home #typeBlock{margin: 0 auto; width: fit-content;}
  #home #typeBlock h1{display: inline; line-height: 75px;}
    #home #typeBlock h1 #font1{font-family: 'font1'; font-size: 100px;}
    #home #typeBlock h1 #font2{font-family: 'font2'; font-size: 100px;}
    #home #typeBlock h1 #font3{font-family: 'font3'; font-size: 50px;}
    #home #typeBlock h1 #font4{font-family: 'font4'; font-size: 100px; text-transform: uppercase;}
    #home #typeBlock h1 #font5{font-family: 'font5'; font-size: 75px; text-transform: uppercase;}

#home #typeBlock .typed-cursor{font-family: 'font1'; font-size: 100px; line-height: 100px; animation-iteration-count: infinite !important; opacity: 1; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite;}
  @keyframes blink{0%  {opacity: 1;} 50% {opacity: 0;} 100%{opacity: 1;}}
  @-webkit-keyframes blink{0%  {opacity: 1;} 50% {opacity: 0;} 100%{opacity: 1;}}
  @-moz-keyframes blink{0%  {opacity: 1;} 50% {opacity: 0;} 100%{opacity: 1;}}

#home h3{text-align: center; margin: 25px 0 50px 0;}


/* ABOUT */
#about #main-content{padding: 0 75px;}
  #about #main-content div h3{color: rgb(252,201,48);}
  #about #main-content div p a{color: #000000; text-decoration: none; border-bottom: 2px dotted rgb(252,201,48);}


/* WORK */
#work #main-content{padding: 0 75px;}
  #work #main-content div h3{color: rgb(237,102,122);}
  #work #main-content div #alert{position: absolute; text-align: center; z-index: 100; transition: ease-in-out .5s; opacity: 0; width: 100%; margin-top: -45px;}

  #work #main-content .main-carousel .carousel-cell{width: 250px; height: 150px; border-right: 10px solid #fff; position: relative;}
    #work #main-content .main-carousel .carousel-cell div{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}

    #work #main-content .main-carousel .carousel-cell .filter{width: 200px; height: 100%; opacity: 0; transition: ease-in-out .2s; z-index: 100; display: table; padding: 0 25px;}
    #work #main-content .main-carousel .carousel-cell:hover .filter{background-color: rgba(237,102,122,0.5); cursor: pointer; opacity: 1;}
      #work #main-content .main-carousel .carousel-cell .filter p{display: table-cell; color: #fff; text-align: center; font-size: 20px; vertical-align: middle;}

    #work #main-content .main-carousel .carousel-cell .image{transition: ease-in-out .2s;}
    #work #main-content .main-carousel .carousel-cell #iqawc{background-image: url('../images/iqawc.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #jedi_journey{background-image: url('../images/jedi-journey.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #lightsaber_training{background-image: url('../images/lightsaber-training.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #prints{background-image: url('../images/print.jpg'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #bab{background-image: url('../images/bab.png'); background-size: cover; background-position: top left;}
    #work #main-content .main-carousel .carousel-cell #quidditch{background-image: url('../images/flag.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #flower{background-image: url('../images/flower.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #pixel{background-image: url('../images/pixel.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #systems{background-image: url('../images/systems.png'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #miscellaneous{background-image: url('../images/lacuna.jpg'); background-size: cover; background-position: top center;}
    #work #main-content .main-carousel .carousel-cell #bmfa{background-image: url('../images/bmfa.png'); background-size: cover; background-position: center center;}
    #work #main-content .main-carousel .carousel-cell:hover .image{opacity: .25;}

/* CONTACT */
#contact #main-content{padding: 0 75px;}
  #contact #main-content h3{color: rgb(28,174,214);}
  #contact #main-content p a{color: #000000; text-decoration: none; border-bottom: 2px dotted rgb(28,174,214);}
  #contact #main-content #icons{margin-top: 10px;}
    #contact #main-content #icons i{font-size: 20px; color: rgb(28,174,214); transition: ease-in-out .2s;}
    #contact #main-content #icons i:not(:last-child){margin-right: 5px;}
    #contact #main-content #icons i:hover{cursor: pointer; opacity: .75;}


/* RESUME */
#resume{padding: 50px 0 0 0;}
  #resume p{line-height: 28px;}
  #resume a{color: #000000; text-decoration: none; border-bottom: 2px dotted #000;}
  #resume .container{justify-content: space-between;}

  #resume #main{padding: 0 100px 25px 100px;}
    #resume #main .container h3{margin: 0 0 0 -50px;}
    #resume #main .container i{font-size: 28px; transition: ease-in-out .2s; margin: 0 -50px 0 0;}
    #resume #main .container i:hover{opacity: .5; cursor: pointer;}

    #resume #main .container p:first-child{font-weight: 600;}
      #resume #main .container p span{font-style: italic;}

    #resume #main ul{margin: 0 0 20px 0;}
      #resume #main ul li{list-style: none;}

    #resume #main #skills{text-align: center; width: 850px; margin: 0 auto;}


/* PRINTMAKING */
#printmaking #main-content{padding: 0 75px;}
  #printmaking #main-content h3{margin-top: 50px;}

  #printmaking #main-content #gallery{width: 100%;}
    #printmaking #main-content #gallery .col{width: 33%;}
    #printmaking #main-content #gallery .col:first-child{padding: 0 15px 0 0;}
    #printmaking #main-content #gallery .col:nth-child(2){padding: 0 15px;}
    #printmaking #main-content #gallery .col:last-child{padding: 0 0 0 15px;}
      #printmaking #main-content #gallery .col img{width: 100%; margin-bottom: 30px; transition: ease-in-out .2s;}
      #printmaking #main-content #gallery .col img:hover{opacity: .75; cursor: pointer;}


/* GRAPHIC DESIGN */
#graphic-design #main-content{padding: 0 75px;}
  #graphic-design #main-content h3{margin-top: 50px;}

  #graphic-design #main-content #gallery{width: 100%;}
    #graphic-design #main-content #gallery .col{width: 33%;}
    #graphic-design #main-content #gallery .col:first-child{padding: 0 15px 0 0;}
    #graphic-design #main-content #gallery .col:nth-child(2){padding: 0 15px;}
    #graphic-design #main-content #gallery .col:last-child{padding: 0 0 0 15px;}
      #graphic-design #main-content #gallery .col img{width: 100%; margin-bottom: 30px; transition: ease-in-out .2s;}
      #graphic-design #main-content #gallery .col img:hover{opacity: .75; cursor: pointer;}



/*godfuckingdamnitatom*/
