/* FONT */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap');

/* GENERAL */
body {height: 100vh;}

  body .main-content {
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    padding: 50px 0;
  }

body, h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
  font-weight: 400;
  font-family: 'Helvetica', sans-serif;
}

h2, h3 {font-size: 24px;}

h2, h4 {
  text-transform: uppercase;
  line-height: 24px;
}

h4, p, li {font-size: 18px;}

h1 {
  font-size: 75px;
  line-height: 75px;
}

h2 {
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
}

h3 {
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  font-weight: 200;
  letter-spacing: 1px;
}
p, li {font-family: 'Source Sans Pro', sans-serif;}
a {transition: ease-in-out 0.2s;}
  a:hover {opacity: 0.6;}

/* bootstrap */
.container, .row,
.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1,
.col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2,
.col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3,
.col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4,
.col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5,
.col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6,
.col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7,
.col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8,
.col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9,
.col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10,
.col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11,
.col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  margin: 0;
  padding: 0;
}

.container {max-width: none;}

/* navbar */
nav, nav .d-lg-block div, nav .d-lg-block svg {
  width: 750px;
  height: 340px;
}

nav .d-lg-none div, nav .d-lg-none svg {
  width: 340px;
  height: 750px;
}

nav div, nav svg {
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  margin: 0 auto;
  position: relative;
}

/* navbar text */
nav div h2 {
  z-index: 100;
  position: absolute;
  color: #fff;
  cursor: pointer;
}

nav div h2:first-child {
  top: 60px;
  left: 113px;
}

nav div h2:nth-child(2) {
  top: 245px;
  left: 205px;
}

nav div h2:nth-child(3) {
  top: 130px;
  left: 383px;
}

nav div h2:last-child {
  top: 160px;
  left: 593px;
}

/* navbar shapes */
nav svg polygon {
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #000;
  margin: 25px 0 0 0;
  color: #fff;
}
  footer .row {padding: 25px 0;}

  footer .row div:nth-child(2) div:first-child h4 {
    line-height: 18px;
    height: 18px;
  }

  footer .row div:nth-child(2) div:nth-child(2) {
    border-left: 1px solid #fff;
    margin-left: 20px;
    padding-left: 15px;
  }

    footer .row div:nth-child(2) div:nth-child(2) h6 {
      font-weight: 200;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
    }

    footer .row div:nth-child(2) div:nth-child(2) h6:not(:last-child) {margin-bottom: 10px;}

      footer .row div:nth-child(2) div:nth-child(2) h6 a {
        color: #fff;
        text-decoration: none;
      }

  footer .row div:nth-child(4) {
    align-items: baseline;
  }

  footer .row div:nth-child(4) i {
    font-size: 20px;
    color: #fff;
    transition: ease-in-out 0.2s;
    margin-left: 5px;
    cursor: pointer;
  }

    footer .row div:nth-child(4) i:hover {
      opacity: 0.75;
    }

/* special classes */
.flex-container {display: flex; justify-content: flex-start;}
.table {display: table;}

.table-cell {
  display: table-cell;
  vertical-align: middle
}

.margin-centered {
  margin-left: auto;
  margin-right: auto;
}
.margin-left {margin-left: 50px;}
.margin-right {margin-right: 50px;}
.margin-bottom-sm {margin-bottom: 5px;}

.text-green {color: rgb(156, 199, 64);}
.text-yellow {color: rgb(252, 201, 48);}
.text-pink {color: rgb(237, 102, 122);}
.text-blue {color: rgb(28, 174, 214);}


/* HOME */
@font-face {font-family: 'Bebas Neue'; src: url('../fonts/BebasNeue.ttf');}
@font-face {font-family: 'Notera'; src: url('../fonts/Notera.ttf');}
@font-face {font-family: 'Chalk Dash'; src: url('../fonts/ChalkDash.ttf');}
@font-face {font-family: 'Borgens Burlesque'; src: url('../fonts/BorgensBurlesque.ttf');}
@font-face {font-family: 'Silkscreen'; src: url('../fonts/Silkscreen.ttf');}

#home #typeBlock {
  margin: 0 auto;
  width: fit-content;
}
  #home #typeBlock h1#typeHere {
    display: inline;
    font-size: 100px;
  }
    #home #typeBlock h1#typeHere span#font1 {font-family: 'Bebas Neue';}
    #home #typeBlock h1#typeHere span#font2 {font-family: 'Notera';}

    #home #typeBlock h1#typeHere span#font3 {
      font-family: 'Chalk Dash';
      font-size: 50px;
    }

    #home #typeBlock h1#typeHere span#font4 {
      font-family: 'Borgens Burlesque';
      text-transform: uppercase;
    }

    #home #typeBlock h1#typeHere span#font5 {
      font-family: 'Silkscreen';
      font-size: 75px;
      text-transform: uppercase;
    }

  #home #typeBlock .typed-cursor {
    font-family: 'Bebas Neue';
    font-size: 100px;
    line-height: 100px;
    animation-iteration-count: infinite !important;
    opacity: 1;

    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100%{opacity: 1;}
  }


/* ABOUT */
#about p a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px dotted rgb(252, 201, 48);
}

  #about .main-content .profile-photo {
    width: 300px;
    height: 300px;
  }

/* WORKS */
#works #gallery .row .gallery-item {
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  padding: 0 15px;
}

  #works #gallery .row .gallery-item .gallery-text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in-out 0.2s;
    z-index: 100;
    margin: 0;
    padding: 15px 30px;
  }

    #works #gallery .row .gallery-item:hover .gallery-text {
      opacity: 1;
    }

  #works #gallery .row .gallery-item img {
    width: 100%;
    transition: ease-in-out 0.2s;
  }

    #works #gallery .row .gallery-item:hover img {
      opacity: 0.25;
    }

/* CONTACT */
#contact p a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px dotted rgb(28, 174, 214);
}

#contact #icons {margin-top: 10px;}

  #contact #icons i {
    font-size: 20px;
    transition: ease-in-out 0.2s;
    margin-right: 5px;
    cursor: pointer;
  }

    #contact #icons i:hover {
      opacity: 0.75;
    }

/* .col-lg */
@media screen and (max-width: 1199px) {
  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  #home #typeBlock h1#typeHere {font-size: 90px;}
    #home #typeBlock h1#typeHere span#font3 {font-size: 40px;}
    #home #typeBlock h1#typeHere span#font5 {font-size: 65px;}

  #home #typeBlock .typed-cursor {
    font-size: 90px;
    line-height: 90px;
  }
}

/* .col-md */
@media screen and (max-width: 991px) {
  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  nav {
    width: 340px;
    height: 750px;
  }

  nav div h2:first-child {
    top: 155px;
    left: 60px;
  }

  nav div h2:nth-child(2) {
    top: 265px;
    left: 200px;
  }

  nav div h2:nth-child(3) {
    top: 415px;
    left: 105px;
  }

  nav div h2:last-child {
    top: 585px;
    left: 60px;
  }

  #home #typeBlock h1#typeHere {font-size: 80px;}
    #home #typeBlock h1#typeHere span#font3 {font-size: 25px;}
    #home #typeBlock h1#typeHere span#font5 {font-size: 50px;}

  #home #typeBlock .typed-cursor {
    font-size: 80px;
    line-height: 80px;
  }
}

/* .col-sm */
@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
    line-height: 22px;
  }

  footer .row div:nth-child(2) div:first-child h4 {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
  }

  #home #typeBlock h1#typeHere {font-size: 65px;}
    #home #typeBlock h1#typeHere span#font3 {font-size: 20px;}
    #home #typeBlock h1#typeHere span#font5 {font-size: 35px;}

  #home #typeBlock .typed-cursor {
    font-size: 65px;
    line-height: 65px;
  }

  #works #gallery .row .gallery-item {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

/* .col */
@media screen and (max-width: 575px) {
  h3 {
    font-size: 16px;
    line-height: 18px;
  }

  p {font-size: 16px;}

  footer .row {padding: 15px 0;}
  footer .row div:nth-child(2) div:first-child h4 {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
  }

  #home #typeBlock h1#typeHere {font-size: 55px;}
    #home #typeBlock h1#typeHere span#font3 {font-size: 15px;}
    #home #typeBlock h1#typeHere span#font5 {font-size: 30px;}

  #home #typeBlock .typed-cursor {
    font-size: 55px;
    line-height: 55px;
  }

  .xs-pad-left {padding-left: 15px;}
  .xs-pad-right {padding-right: 15px;}
}
